<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Webshop</title>
</head>
<body>
    <header>
        <div class="page_title">
            <h1 class="page_title_h">Terjedelmes Üzletház</h1>
            <h4>Online webáruház</h4>
        </div>

    <nav class="navbar">
        <ul class="navbar">
            <li class="navbar"><a class="navbar" href="/index.html">Főoldal</a></li>
            <li class="navbar"><a class="navbar" href="/index.html">Akciók</a></li>
            <li class="navbar"><a class="navbar" href="/index.html">Webáruház</a></li>
            <li class="navbar"><a class="navbar" href="/index.html">Rólunk</a></li>
            <li class="navbar"><a class="navbar" href="/reg.html">Regisztráció</a></li> 
        </ul>
    </nav>
        
    </header>




    
</body>
</html>