{% extends 'index.html' %}
<title>{% block title %} Registration {% endblock %}</title>
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
        <form action="#" method="POST">
            <input type="email" name="email" placeholder="E-mail cím" required>
            <input type="password" name="password" placeholder="Jelszó" required>
            <input type="submit" value="submit">
        </form>
        <form action="{{ url_for('delete_user') }}" method="POST">
            <input type="email" name="email" placeholder="E-mail cím" required>
            <input type="password" name="password" placeholder="Jelszó" required>
            <input type="submit" value="delete"/>
        </form>
{% endblock %}
